html, body
{
    height: 100%;
}

#patternWindowPanel {
  width: 300px;
  background-color: #29e;
  color: white;
  position: absolute;

  -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
}

#patternWindowBody {
  width: 100%;
  background-color: gray;
  color: white;
  position: absolute;

  -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
}
